{% extends "base.html" %}

{% block content %}
<style>
    .error-content {
        margin-top: 100px; /* Adjust this value to ensure proper spacing below the navbar */
        padding: 20px;
        background-color: #ffffff; /* Choose a suitable background color */
        color: #000000; /* Choose a suitable text color */
        border-radius: 5px;
    }
    
</style>

<div class="container">
    <div class="error-content">
        <h1>An unexpected error has occurred</h1>
        <p>The administrator has been notified. Sorry for the inconvenience!</p>
        <p><a href="{{ url_for('index') }}">Back</a></p>
    </div>
</div>
{% endblock %}
