{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>

    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center mt-5">
            <h1>Welcome to ValueCheck Group Project</h1>
            <p class="lead">Guess the price correctly and earn points!</p>
          </div>
        </div>
      </div>

    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}

