{% extends "base.html" %}

{% block content %}
<div class="container mt-8">
    <div class="row">
        <div class="col-lg-12 text-center mt-5">
            <h2>Welcome, {{ current_user.username }}!</h2>
            <p class="lead">Guess the price correctly and earn points!</p>
            <p>Guess The Prices!!:</p>
        </div>
    </div>
</div>

<style>
    .post {
        margin: 20px;
        padding: 20px;
        border: 1px solid #000000; /* Default border color */
        transition: border-color 0.2s; /* Smooth transition for the border color */
    }

    .post:hover {
        border-color: white; /* Changes the border to white on hover */
    }

    .post h2 {
        color: #FFCDB2;
    }

    .post p {
        font-size: 16px;
        color: white;
    }

    .post img {
        width: 100%;  /* makes the image expand to fill the width of its container */
        height: auto; /* scales the height according to the width while maintaining aspect ratio */
        max-width: 300px; /* maximum width of the image */
        max-height: 300px; /* maximum height of the image */
    }

    .delete-btn {
        padding: 5px 10px;
        background-color: #3d324e;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .delete-btn:hover {
        background-color: rgb(43, 27, 48);
    }

    #guessValue {
        font-size: 14px; 
        height: auto; 
        width: 80px; 
        text-align: center;
        margin: 0 auto;
    }

</style>

<div class="container mt-5">
    <form class="d-flex mb-3" action="{{ url_for('search') }}" method="GET">
        <input class="form-control me-2" type="search" name="query" placeholder="Search..." aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
</div>


{% for post in posts.items %}
<div class="post">
    <div class="text-center"> <!-- Center the content -->
        <h2>{{ post.item_name }}</h2>
        {% if post.img %}
        <img src="data:{{ post.mimetype }};base64,{{ post.img }}" alt="Post Image">
        {% else %}
        <p>No Image Available</p>
        {% endif %}
    </div>
    <p>About this item: {{ post.description }}</p>
    <p>Category: {{ post.category }}</p>
    <p>Condition: {{ post.condition }}</p>
    <p>Retail Price: ${{ post.starting_price }}</p>
    {% if current_user == post.author %}
    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
        <button type="submit" class="delete-btn" onclick="return confirm('Are you sure you want to delete this post?');">Delete Post</button>
    </form>

    {% else %}
    
    <form>
        <div class="form-group">
            <label for="guess">Guess the Price:</label>
            <input type="range" class="form-range" min="0" max="100" id="guess" name="guess" onchange="updateGuess(this.value)">
            <input type="text" class="form-control" id="guessValue" readonly>
        </div>
        <button type="submit" class="btn btn-primary">Submit Guess</button>
    </form>

    {% endif %}
</div>
{% endfor %}

<div class="text-center mt-5">
    {% if posts.has_prev %}
        <a href="{{ url_for('index', page=posts.prev_num) }}" class="btn btn-primary">Previous</a>
    {% endif %}
    Page {{ posts.page }} of {{ posts.pages }}
    {% if posts.has_next %}
        <a href="{{ url_for('index', page=posts.next_num) }}" class="btn btn-primary">Next</a>
    {% endif %}
</div>


<script>
    function updateGuess(value) {
        document.getElementById('guessValue').value = '$' + value;
    }
</script>

{% endblock %}
