{% extends "base.html" %}

{% block content %}
<div class="container mt-4 animate__animated animate__fadeIn">
    <h1 class="text-center" style="color: #4F6367; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);">Leaderboard</h1>
    <div class="list-group">
        <div class="list-group-item list-group-item-secondary d-flex justify-content-between" style="background-color: #EEF5DB; color: #7A9E9F;">
            <strong class="col text-center"># Rank</strong>
            <strong class="col text-center">Username</strong>
            <strong class="col text-center">Points</strong>
        </div>
        {% for user in users %}
        <a href="{{ url_for('my_account', username=user.username) }}"
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" style="background-color: #EEF5DB; color: #7A9E9F;">
           <span class="col text-center">{{ loop.index }}</span> 
           <span class="col text-center">{{ user.username }}</span>
           <span class="col text-center badge badge-primary badge-pill" style="background-color: #7A9E9F; color: #4F6367;">
               {{ user.points or 'No points available' }}
           </span> 
        </a>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    .list-group-item {
        transition: transform 0.3s;
        cursor: pointer;
    }

    .list-group-item:hover {
        transform: scale(1.03);
        background-color: #b8d8d8;
    }

    .badge {
        transition: background-color 0.3s, transform 0.3s;
    }

    .badge:hover {
        background-color: #b8d8d8;
        color: #4F6367;
    }

    .badge-pill {
      flex: none; 
      width: auto; 
      padding-left: 12px; 
      padding-right: 12px; 
      text-align: center; 
  }
  
    .col {
        flex: 1;  
    }
    
    .text-center {
        text-align: center;  
    }
</style>
{% endblock %}
